rag-quran-client/node_modules
rag-quran-client/dist
rag-quran-client/.env
rag-quran-client/logs
rag-quran-client/*.log
rag-quran-client/npm-debug.log*
rag-quran-client/yarn-debug.log*
rag-quran-client/yarn-error.log*
rag-quran-client/pnpm-debug.log*
rag-quran-client/lerna-debug.log*
rag-quran-client/dist-ssr
rag-quran-client/*.local
rag-quran-client/.vscode/*
rag-quran-client/!.vscode/extensions.json
rag-quran-client/.idea
rag-quran-client/.DS_Store
rag-quran-client/*.suo
rag-quran-client/*.ntvs*
rag-quran-client/*.njsproj
rag-quran-client/*.sln
rag-quran-client/*.sw?
rag-quran-server/.env